{% extends 'base.html' %}
{% block blockname %}
<section class="service_section layout_padding ">
    <div class="container">
      <h2 class="custom_heading">Your Orders</h2>
      {% if data %}
     <div class=" layout_padding2">
        <div class="card-deck">
          {% for s in n %}
          
         
          <div class="card">
            <img class="card-img-top" src="static/images/card-item-1.png" alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title">{{s.name}}</h5>
              <p class="card-text">
                {{s.about}}</p>
                {% endfor %}
                {% else %}
                 
                <p  class="card-title">
                 <h1> Please By Some Items<h1>
                </p>{% endif %} 
             </div>
          </div> 
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <a href="" class="custom_dark-btn">
          Read More
        </a>
      </div>
    </div>
  </section>

{% endblock blockname %}